body {
    background-color: hsl(212, 45%, 89%);
}

.header {
    font-family: Outfit; Serif;
    font-size: 0.7em;
    text-align: end; 
    ;
}

.header a {
    color: hsl(228, 45%, 44%); 
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 210px;
    height: fit-content;
    border-radius: 12px;
    background-color: hsl(0, 0%, 100%);
    position: fixed;
    inset: 0px;
    text-align: center;
}

.title {
    font-family: Outfit; Serif;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.description {
    font-family: Outfit;Serif;
    font-size: 0.6875em;
    max-width: 190px;
    color: hsl(216, 15%, 48%);
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
}

.QRcode {
    width: 190px;
    margin-top: 10px;
    border-radius: 8px;
    
}
